<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="functionalTestSuite">
	
	<listeners>
		<listener class-name="com.onsite.reports.ExtentReportManager"/>
	</listeners>
 <!--
  <test thread-count="5" name="ProjectTest">
      <classes>
          <class name="com.onsite.project_test_page.ProjectCreateTest"/>
          <class name="com.onsite.project_test_page.ProjectGetTest"/>
          <class name="com.onsite.project_test_page.ProjectUpdateTest"/>
          <class name="com.onsite.project_test_page.ProjectEditStatusTest"/>
      </classes>
  </test> 
   
  <test thread-count="5" name="TimeSheetTest">
	  <classes>
		  <class name="com.onsite.timesheet_test_page.TimeSheetCreateTest"/>
		  <class name="com.onsite.timesheet_test_page.TimeSheetDetailsTest"/>  
		  <class name="com.onsite.timesheet_test_page.TimeSheetEditTest"/>
		  <class name="com.onsite.timesheet_test_page.TimeSheetDeleteTest"/> 
	  </classes>  
  </test>
 
  <test thread-count="5" name="CreditNote">
	  <classes>
		  <class name="com.onsite.creditnote_test_page.CreditNoteCreateTest"/>
		  <class name="com.onsite.creditnote_test_page.CreditNoteAddItemTest"/>
		  <class name="com.onsite.creditnote_test_page.CreditNoteEditTest"/>
		  <class name="com.onsite.creditnote_test_page.CreditNoteDeleteTest"/>
		  <class name="com.onsite.creditnote_test_page.CreditNoteUploadFileTest"/>
		  <class name="com.onsite.creditnote_test_page.CreditNoteApprovalTest"/>
	  </classes>
  </test>

   <test thread-count="5" name="Mom">
	   <classes>
		   <class name="com.onsite.mom_test_page.Create_MOM_Test"/>
		   <class name="com.onsite.mom_test_page.Edit_MOM_Test"/>
		   <class name="com.onsite.mom_test_page.Delete_MOM_Test"/>
		   <class name="com.onsite.mom_test_page.List_Mom_Attendee"/>
		   <class name="com.onsite.mom_test_page.List_Mom_Project_Test"/>
		   <class name="com.onsite.mom_test_page.List_MOM_Test"/>
	   </classes>
   </test>
   -->
   
   <test name="LabourPayroll" parallel="false">
	  <classes>
	  
	     <class name="com.onsite.LabourPayroll_testpage.Payroll_Count_Test">
	        <methods>
	           <include name="labourActiveCountBeforeCreate"/>
	        </methods>
	     </class>
	     
	     <class name="com.onsite.LabourPayroll_testpage.ListCompanyUserforPayroll">
	        <methods>
	           <include name="labourTypeList"/>
	           <include name="saveLabourUserId"/>
	        </methods>
	     </class>   
		 
		 <class name="com.onsite.LabourPayroll_testpage.Is_Payroll_Exist_Test">
		    <methods>
		       <include name="nonExistPayroll"/> 
		       <include name="saveUseIds"/>
		    </methods>
		 </class>
		    
		 <class name="com.onsite.LabourPayroll_testpage.Add_LabourPayroll_Test">
		    <methods>
		       <include name="createLabourPayroll"/>
		    </methods>
		 </class>  
		 
		 <class name="com.onsite.LabourPayroll_testpage.Is_Payroll_Exist_Test">
		    <methods>
		       <include name="existPayroll"/>
		    </methods>
		 </class>  
		 
		 <class name="com.onsite.LabourPayroll_testpage.Add_LabourPayroll_Test">
		    <methods>
		       <include name="detailPayroll"/>
		    </methods>
		 </class>
		 
	     <class name="com.onsite.LabourPayroll_testpage.List_Payroll_Test">
	        <methods>
	           <include name="labourPayrollList"/>
	           <include name="payrollIdValiadation"/>
	        </methods>
	     </class>
	     
	     <class name="com.onsite.LabourPayroll_testpage.Payroll_Count_Test">
		    <methods>
		       <include name="labourActiveCountAfterCreate"/>
		    </methods>
		 </class>
		 
		 <class name="com.onsite.LabourPayroll_testpage.Hide_Payroll">
		    <methods>
		       <include name="hiddenPayroll"/>
		    </methods>
		 </class>
		 
		 <class name="com.onsite.LabourPayroll_testpage.Show_Payroll_Test">
		    <methods>
		       <include name="showPayroll"/>
		    </methods>
		 </class>
		 
	   </classes>
   </test>
   <!--
   <test thread-count="5" name="StaffPayroll">
       <classes>
           <class name="com.onsite.payroll_test_page.List_Payroll_Test"/>
	       <class name="com.onsite.payroll_test_page.ListCompanyUserforPayroll"/>
		   <class name="com.onsite.payroll_test_page.Payroll_Count_Test"/>
		   <class name="com.onsite.payroll_test_page.Is_Payroll_Exist_Test"/>
		   <class name="com.onsite.payroll_test_page.Add_Payroll_Test"/>
       </classes>
   </test>
  -->
</suite> <!-- Suite -->
